html
  head
  body
    section.fdb-block
      .container
        .row.align-items-center.justify-content-center
          .col-auto.text-center
            a.btn.btn-outline-secondary(href='https://www.froala.com') Download
          .col-auto.mt-4.mt-sm-0
            h2 Use Froala Design Blocks for free in your project