header.navbar.navbar-expand-sm.bsnav.bsnav-sticky.bsnav-sticky-slide
  .container.px-4
    a.navbar-brand(href='/')
      img(src="images/logo-text-b.png", style='max-height: 50px; height: 5vh')
    button.navbar-toggler.toggler-spring
      span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-md-end
      ul.navbar-nav.navbar-mobile.mr-0
        li.nav-item.px-md-3
          a.nav-link(href='/') Home
        li.nav-item.px-md-3.dropdown.dropdown-horizontal
          a.nav-link(href='')
            | Services
            i.fa.fa-angle-down.caret
          ul.navbar-nav.border-bottom.border-top
            .container.text-md-right.px-4
              li.nav-item.mr-md-3.px-md-3
                a.nav-link(href='/services') Services Home
              li.nav-item.mr-md-3.px-md-3
                a.nav-link(href='/services-overview') Overview
              li.nav-item.mr-md-3.px-md-3
                a.nav-link(href='/services-person-centered') Person-Centered
              li.nav-item.pl-md-3
                a.nav-link(href='/services-referral') Referral
        li.nav-item.px-md-3.dropdown.dropdown-horizontal
          a.nav-link(href='')
            | Careers
            i.fa.fa-angle-down.caret
          ul.nav.navbar-nav.border-bottom.border-top
            .container.text-md-right.px-4
              li.nav-item.mr-md-3.px-md-3
                a.nav-link(href='/careers') Careers Home
              li.nav-item.mr-md-3.px-md-3
                a.nav-link(href='') Positions
              li.nav-item.mr-md-3.px-md-3
                a.nav-link(href='') Apply
              li.nav-item.pl-md-3
                a.nav-link(href='') EEO Policy
        li.nav-item.px-md-3.dropdown.dropdown-horizontal
          a.nav-link(href='')
            | Partners
            i.fa.fa-angle-down.caret
          ul.nav.navbar-nav.border-bottom.border-top
            .container.text-md-right.px-4
              li.nav-item.mr-md-3.px-md-3
                a.nav-link(href='') Partners Home
              li.nav-item.mr-md-3.px-md-3
                a.nav-link(href='') Benefits
              li.nav-item.pl-md-3
                a.nav-link(href='') Resources
        li.nav-item.px-md-3
          a.nav-link(href='/contact')
            | Contact
