header.navbar.navbar-expand-sm.bsnav.bsnav-sticky.bsnav-sticky-slide
  .container
    a.navbar-brand(href='#') Employment Links
    button.navbar-toggler.toggler-spring
      span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-md-end
      ul.navbar-nav.navbar-mobile.mr-0
        li.nav-item.active
          a.nav-link(href='#') Home
        li.nav-item
          a.nav-link(href='#') About Us
        li.nav-item
          a.nav-link(href='#') Gallery
        li.nav-item
          a.nav-link(href='#') Contact
