html(lang="en")
head
  meta(charset='utf-8')
  title Employment Links
  meta(name='description' content='')
  meta(name='theme-color' content='#fafafa')
  meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1')
  link(rel='manifest' href='site.webmanifest')
  link(rel='apple-touch-icon' href='/icons/icon.png')

  //- REQUESTS ---------------------------------------------------------------
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')

  //- LOCAL FIELS ------------------------------------------------------------
    //- Bootstrap
  link(type='text/css', rel='stylesheet', href='/styles/bootstrap.min.css')
    //- Local Styles
  link(type='text/css', rel='stylesheet', href='/styles/froala_blocks.min.css')
  link(type='text/css', rel='stylesheet', href='/styles/main.css')
