doctype html
html(lang="en")
  head
    include ../components/meta/head.pug

  body
    .container-fluid.main.p-0.m-0#main
      include ../components/header/header-bsnav-1.pug
      //- #spacer
      block content

      include ../components/footer/footer.pug

    .bsnav-mobile
      .bsnav-mobile-overlay
      .navbar.border-left(style='box-shadow: 0 0 12px rgba(0, 0, 0, 0.2)')
    include ../components/meta/scripts.pug
