doctype html
html(lang="en")
  head
    include ../components/meta/head.pug

  body
    include ../components/header/slideout.pug

    .container-fluid.main.p-0.m-0#main
      include ../components/header/header.pug

      block content

      include ../components/footer/footer.pug

    include ../components/meta/scripts.pug
