section.fdb-block.py-md-5
  .container.py-md-5
    .row.py-5
      .col-12.col-lg-12
        p.h1 We Create Opportunity
        p.lead.
          The Employment Links mission is to bridge the gap between employers and employees by assisting each person in acquiring the skills and knowledge necessary to gain and maintain community-based employment.

