section.fdb-block
  .container
    .row
      .col.text-left
        h2 Miscellaneous Support Resources
        p.h3
         | General Forms
        p
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-0033-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-0033-ENG', target='_top') Appeal to State Agency DHS-0033
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Legacy/DHS-4007-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Legacy/DHS-4007-ENG', target='_top') County of Financial Responsibility Transfer for FSG DHS-4007 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-2982-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-2982-ENG', target='_top') County Parental Fee Referral to DHS DHS-2982
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3195-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3195-ENG', target='_top') Interagency Case Transfer Form DHS-3195 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-2981-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-2981-ENG', target='_top') Medical Assistance (MA) Parental Fee Form DHS-2981 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-0035-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-0035-ENG', target='_top') State Agency Appeals Summary DHS-0035 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Legacy/DHS-3141-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Legacy/DHS-3141-ENG', target='_top') Variance Request DHS-3141 (PDF)

        p.h3
         | Positive Support Tools
        p
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3725-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3725-ENG', target='_top') Direct Deposit/Electronic Funds Transfer DHS-3725 (PDF)
            br
          //  TRANSIT - HYPERLINK
          //  .http://mn.gov/mmb/images/bank-change.pdf.
          a(href='http://mn.gov/mmb/images/bank-change.pdf', target='_top') Electronic Funds Transfer Bank Change Form (PDF)
            br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5259-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5259-ENG', target='_top') Disclosure of Ownership DHS-5259 (PDF)
            br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4138-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4138-ENG', target='_top') MHCP Provider Agreement DHS-4138 (PDF)
            br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4015-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4015-ENG', target='_top') Waiver and Alternative Care (AC) Programs – Provider Enrollment Application DHS-4015 (PDF)
            br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6638-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6638-ENG', target='_top') Waiver and Alternative Care (AC) Programs Service Request Form DHS-6638 (PDF)
            br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6933-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6933-ENG', target='_top') MinnesotaHelp.info® instructional guide DHS-6933 (PDF)
        p.h3
         | Waiver Forms
        p
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5887-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5887-ENG', target='_top') Additional Square Footage Approval Request DHS 5887 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3471-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3471-ENG', target='_top') BI Waiver Assessment and Eligibility Determination DHS-3471 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3471B-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3471B-ENG', target='_top') BI Waiver Assessment and Eligibility Determination Checklist DHS-3471B (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3471A-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3471A-ENG', target='_top') BI Waiver Assessment and Eligibility Determination Instructions DHS-3471A (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3614-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3614-ENG', target='_top') CAC Application/Reassessment Support Plan DHS-3614 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .http://edocs.dhs.state.mn.us/lfserver/Legacy/DHS-3614A-ENG.
          a(href='http://edocs.dhs.state.mn.us/lfserver/Legacy/DHS-3614A-ENG', target='_top') CAC Application/Reassessment Support Plan Instructions DHS-3614A (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4929-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4929-ENG', target='_top') Caregiver Living Expenses Worksheet DHS-4929 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6768-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6768-ENG', target='_top') Case manager's cost report for DD full team screenings DHS-6768 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .http://edocs.dhs.state.mn.us/lfserver/Legacy/DHS-5788-ENG.
          a(href='http://edocs.dhs.state.mn.us/lfserver/Legacy/DHS-5788-ENG', target='_top') CDCS Alternative Treatment Form for MHCP-Enrolled Physicians DHS-5788 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4166-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4166-ENG', target='_top') Community Support Plan DHS-4166 (PDF) (AC, EW, CADI, and BI Waivers)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5587B-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5587B-ENG', target='_top') DD Waiver Extended Safety Net Funding (Court Committed) DHS-5587B (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5587A-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-5587A-ENG', target='_top') DD Waiver Safety Net Funding Request (Court committed) DHS-5587A (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6383-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6383-ENG', target='_top') HCBS Waiver/AC Programs Lead Agency Provider Enrollment Request Form DHS 6383 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-2727-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-2727-ENG', target='_top') LTSS Assessment and Program Information and Signature Sheet DHS-2727 (PDF)
          br
          |
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6791A-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6791A-ENG', target='_top') MnCHOICES Community Support Plan Worksheet DHS-6791A (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6791B-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6791B-ENG', target='_top') MnCHOICES Community Support Plan with the Coordinated Services and Supports Plan DHS-6791B (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6791C-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6791C-ENG', target='_top') Instructions to Complete the MnCHOICES Community Support Plan with the Coordinated Services and Supports Plan (DHS-6791B) DHS-6791C (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6791D-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6791D-ENG', target='_top') MnCHOICES Coordinated Services and Supports Plan Signature Sheet DHS-6791D (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-2828-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-2828-ENG', target='_top') Notice of Action Home and Community Based Waiver Services and AC Program DHS-2828 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6021-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6021-ENG', target='_top') Request to Close or Develop New Corporate Foster Care (and Community Residential Settings) DHS-6021 (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3428D-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-3428D-ENG', target='_top') Supplemental Waiver PCA Assessment and Service Plan DHS-3428D (PDF)
          br
          //  TRANSIT - HYPERLINK
          //  .https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4015-ENG.
          a(href='https://edocs.dhs.state.mn.us/lfserver/Public/DHS-4015-ENG', target='_top') Waiver and Alternative Care (AC) Programs - Provider Enrollment Application DHS-4015 (PDF)
          br
