section.fdb-block
  .container.mb-5
    .row.mb-5
      .col.text-left
        h2 Employment Links is an Equal Opportunity Employer
        p.lead
         | It is the policy of Employment Links not to discriminate against any applicant for employment, or any employee because of age, color, sex, disability, national origin, race, religion, or veteran status.

         | Employment Links will take affirmative action to ensure that the EEO Policy is implemented, with particular regard to: advertising, application procedures, compensation, demotion, employment, fringe benefits, job assignment, job classification, layoff, leave, promotion, recruitment, rehire, social activities, training, termination, transfer, upgrade, and working conditions.
        hr
        p.lead
         | Employment Links will continue to make it understood by the employment entities with which it deals, and in employment opportunity announcements that the foregoing is company policy and all employment decisions are based on individual merit only.
         | It is the policy of Employment Links that all company activities, facilities, and job sites are non-segregated. Separate or single-user toilet and changing facilities are provided to assure privacy.
         | It is the policy of Employment Links to ensure and maintain a working environment free of coercion, harassment, and intimidation at all job sites, and in all facilities at which employees are assigned to work.
         | Any violation of the policy should be immediately reported to a supervisor or the company EEO Officer.


