section.fdb-block
  .container.mb-5
    .row.mb-3
      .col.text-left
        h1 Interested in Working At Employment Links?
        p.lead
         | Employment Links is currently looking for individuals who show the drive and passion to be an Employment Coach. We work hard to provide the best services possible for out clients, and as a member of our staff, you’ll be rewarded in kind for your contribution to the community. Please see our preferred applicant qualifications below, as well as a brief overview of some of the benefits our employees receive.
    .row.mb-5
      .col.text-left
        h2.h1 Requirements
        ul.list-group-flush
          li.list-group-item Valid Driver’s License
          li.list-group-item Reliable Vehicle
          li.list-group-item Proof of Insurance
          li.list-group-item Ability to Pass Mandated Background Check
          li.list-group-item Ability to Work Flexible Schedule
          li.list-group-item High School Diploma (recommended)
          li.list-group-item Basic Computer Aptitude (preferred)
          li.list-group-item Strong Work Ethic
    .row.mt-3
      .col.text-center
        h2 Apply Now
        p.lead
         | Applying is easy!
        a.btn.btn-primary.btn-large.text-white(data-toggle="modal" data-target="#contact-modal") Apply

