h1#project-report Project Report
h2#site Site
ol
  li
    strong Create a new site
    ul
      li A fresh virtual server was created to host the site, using Ubuntu 18.04LTS for the OS, NodeJs to handle the server and website logic/compilation, and NginX to manage the network interfaces.
  li
    strong Length
    ul
      li The site meets requirement
  li
    strong Responsive layout, custom theme
    ul
      li
        | For the styling and layout, I leveraged a somewhat personally-configured Bootstrap v4, utilizing their development package which containes uncompiled SASS rather than CSS, and incorporating it within my custom styles. An example is shown below:

        img(src='/public/images/code-1.png', alt='code-1' style="max-width: 80vw;")
  li
    strong Create an image slider
    ul
      li The home page features an image slider
  li
    strong Images use
    ul
      li Images were used, and alt attributes were included.
  li
    strong Site Navigation
    ul
      li.
        Navigation is customized header menu, with a slide-out side navigation list and nested menus for mobile.

  li
    strong Minimum 5 External Links
    ul
      li Site features an external resources page that serves as a directory of external links. http://linksduluth.com/resources
  li
    strong Title, keywords, other meta tags
    ul
      li Pages are labeled appropriately as a by-product of server-side rendering.
  li
    strong Landing Page
    ul
      li http://linksduluth.com/contact
  li
    strong Social Media
    ul
      li Towards the bottom of http://linksduluth.com/
h2#security Security
p
  | A benefit of writing javascript files that control how your server receives, handles and replies to HTTP requests is the enhanced control and ability to fine-tune responses. Reading through the
  code app.js
  |  file (the main entry point and route handler) provides some examples:

  img(src='/images/code-2.png', alt='code-2' style="max-width: 80vw;")
  |
  | Here, detailed logging has been set up, as well as some path sanitization and verification. There's certianly much more that can be done in the future.
h2#seo SEO
p
  | In order to make this site as Search-Engine-Friendly as I could while still keeping maintenance and time invested at a reasonable level, I followed basic industry-standard best practices in regards to page
  code <head>
  | and
  code <meta>
  |  elements. Additionally, page structures are similarly aligned to best-practice and semantic HTML standards. This domain is also registered with Google Search Console, and supplies a robots.txt and sitemap.xml file to crawlers.
h2#analytics Analytics
p.
  Google Analytics scripts are set up on all pages (even this one, hi!) and the GoogleUA key is properly registered.

h2#ecommerce Ecommerce
p My e-commerce site was set up under https://links-duluth.myshopify.com - though this was before I realized that the site inventory would have no relation to the name. Regardless, it can be reached by following the above link and supplying the password:
blockquote
  p
    em
      strong brunew
p The site sells artisan soaps and candles from different geographical regions.
h2#accessibility Accessibility
p The site meets all minimum accessibility standards. I would have like to have used more intelligent tools to evaluate contrasts of the type overlaid on images.
