html
  head
  body
    section.fdb-block.bg-dark
      .container
        .row.text-center
          .col-12
            h1
              | Made with 
              i.fas.fa-heart.text-danger
              |  by Froala