extends ./layouts/main.pug

block content
  include ./components/cta/cta-14-D.pug
  include ./components/content-7-career.pug
  include ./components/content-7-eeo.pug


block pageScripts
  script(src='/scripts/home.js')

