extends ./layouts/plain.pug

block content
  .container-fluid(style="height: 100vh")
    .row(style="height: 100vh")
      .col-12.flex-col(style="height: 100vh")
        #beaker-container(style="width: 20vw; min-width: 300px;")
          <svg id="beaker-preloader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135.5 135.5">
            <title>Beaker Preloader</title>
            <defs>
            <clipPath id="beaker-clip">
                <path id="SVGID_1_" d="M47.1,87.6l-15.3,25.9c-0.3,0.6-0.5,1.3-0.5,2c0,2.2,1.8,4,4,4H99c0.7,0,1.4-0.2,2-0.5c1.9-1.1,2.6-3.6,1.5-5.5l-27-47L60,66.6L47.1,87.6z"></path>
            </clipPath>
            </defs>
            <path id="beaker" d="M48.9,6.82c4,0,4,4,4,4v40a19,19,0,0,1-2.64,9.66L23.41,105.91A10,10,0,0,0,32,121H95.79a10,10,0,0,0,8.61-15.09L77.54,60.45a19,19,0,0,1-2.64-9.66v-40s-0.12-4,3-4" transform="translate(3.25 4.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4" data-darkreader-inline-fill="" data-darkreader-inline-stroke="" style="--darkreader-inline-fill:none; --darkreader-inline-stroke:#ffffff;"></path>
              <g clip-path="url(#beaker-clip)">
                <path id="water-one" opacity="0.66" d="M5.1,110.2l15.3-32.9c29.7,4.1,32.7,4.5,35.8,4.5c4.7,0,9.3-1,13.6-3.1c2.6-1.3,5.4-1.9,8.3-1.9c2.6,0,47.6,9.4,50,10.2l0.6,25.8c1.1,1.9-25.8,5.1-27.7,6.2c-0.6,0.3-1.3,0.5-2,0.5H35.2" fill="#fff" data-svg-origin="5.099999904632568 76.79999542236328" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.205, 4.5, 0, 1); --darkreader-inline-fill:#131617;" data-darkreader-inline-fill=""></path>
              </g>
            <circle id="large-one" cx="62.69" cy="76.87" r="5.05" fill="#fff" opacity="0" data-svg-origin="57.6400032043457 71.81999969482422" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.8, -2.35, 0, 1); --darkreader-inline-fill:#ffffff; opacity: 0.094;" data-darkreader-inline-fill=""></circle>
            <circle id="medium-one" cx="73.5" cy="84.78" r="2.85" fill="#fff" opacity="0" data-svg-origin="70.6500015258789 81.93000030517578" style="transform: matrix(1, 0, 0, 1, -1.2, 0); --darkreader-inline-fill:#ffffff; opacity: 0;" data-darkreader-inline-fill=""></circle>
            <circle id="small-one" cx="64.53" cy="67.75" r="1.84" fill="#fff" opacity="0" data-svg-origin="62.689998626708984 65.91000366210938" style="opacity: 0.3812; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -12.82, 0, 1); --darkreader-inline-fill:#ffffff;" data-darkreader-inline-fill=""></circle>
          </svg>
        h1.text-white.text-center.mt-5 Page Under Development
        p.lead.text-white.text-center.py-4
          span Whoops! This page is still under development, and isn't quite ready to be served yet.
          br
          span Please feel free to watch this animated beaker for a while. If you'd like to head back to the home page, hit the button below.
        a.btn.btn-primary.btn-lg.btn-block.text-white.mt-4(href='/' style='width: 20vw; min-width: 250px;') Go Home

block pageScripts
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
  script.
    function preloaderBeaker(){
      TweenLite.defaultEase = Power0.easeInOut;
      TweenLite.set("#large-one", {x: +1.8}),
      TweenLite.set("#medium-one", {x: -1.2}),

      tl6 = new TimelineMax({repeat: -1,repeatDelay: 0,delay: 0});
      tl6.timeScale(1);
      tl6.to("#water-one", 1, {x:"-=15"})
        .to("#water-one", .75, {x:"+=15"});

      tl6a = new TimelineMax({repeat: -1,repeatDelay: 0,delay: 0});
      tl6a.to("#small-one", .2, {y:-10, opacity:.4})
        .to("#small-one", 1, {y:-70, opacity:0})
        .to("#large-one", .2, {y:-10, opacity:.4}, "-=1")
        .to("#large-one", 1, {y:-70, opacity:0}, "-=.8")
        .to("#medium-one", .2, {y:-10, opacity:.4}, "-=.7")
        .to("#medium-one", 1, {y:-70, opacity:0}, "-=.5");
    }
    preloaderBeaker();
