extends ./layouts/main.pug

block content
  include ./components/cta/cta-14-B.pug

  include ./components/features/features-19-alt.pug
  include ./components/features/features-c-1.pug
  //- include ./components/content-18.pug
  include ./components/content-34.pug

block pageScripts
  script(src='/scripts/home.js')

