extends ./layouts/main.pug

block content
  include ./components/modal/contact-quick.pug
  include ./components/cta/cta-14-C.pug
  include ./components/content-home-intro.pug
  include ./components/features/features-19.pug
  include ./components/content-carousel.pug
  include ./components/features/features-c-1.pug
  include ./components/contact/contact-3.pug

block pageScripts
  script(src='/scripts/home.js')

