extends ./layouts/main.pug

block content
  include ./components/cta/cta-14-B.pug
  include ./components/content-services-intro.pug
  include ./components/content-6.pug
  //- include ./components/features/features-c-1.pug
  //- include ./components/contact/contact-3.pug

block pageScripts
  script(src='/scripts/home.js')

