extends ./layouts/main.pug

block content
  include ./components/content-resources-intro.pug
  include ./components/contact/contact-resources.pug
  include ./components/content-9.pug

block pageScripts
  script(src='/scripts/home.js')

