extends ./layouts/main.pug

block content
  include ./components/cta/cta-14-B.pug
  include ./components/content-services-intro.pug
  include ./components/content-6.pug

  .spacer.my-5.py-5
  .spacer.my-5.py-5

block pageScripts
  script(src='/scripts/home.js')

