html
  head
  body
    | ,
    section.fdb-block.bg-gray
      .container
        .row.text-center.justify-content-center
          .col-12.col-md-8.col-lg-7
            p.h2 support@website.com
            p.lead Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            p
              br
            p.h2
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-facebook
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-twitter
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-instagram
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-google
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-pinterest