section.fdb-block.pb-5
  .container.pb-5.mb-5
    .row.text-left
      .col-12.col-md-8.col-lg-7
        h1 Looking for Assistance?
        h3 We're here to help if you ever need it.
    .row.pt-4.center
      //- .col-3
      .col-6.pt-5.pt-md-0
        form
          .row
            .col
              input.form-control(type='email', placeholder='Enter email')
          .row.mt-4
            .col
              input.form-control(type='email', placeholder='Subject')
          .row.mt-4
            .col
              textarea.form-control(name='message', rows='3', placeholder='How can we help?')
          .row.mt-4
            .col.tex-center
              button.btn.btn-primary.text-white(type='submit') Submit
      .col-3
