html
  head
  body
    header.bg-dark
      .container.text-center
        nav.navbar
          a.ml-auto.mr-auto(href='https://www.froala.com')
            img(src='./imgs/logo.png', height='30', alt='image')