section.fdb-block.py-5(style='background-image: url(images/bridge-night.jpg); background-attachment: fixed; background-position: bottom; background-position-y: -500px;')
  .container.bg-r.py-5.my-5.rounded-5
    .row.py-5
      .col-12.col-sm-10.col-md-8.col-lg-6.text-left.text-white.gradient-mask
        h1
          span We Bridge the Gap
          small.text-muted To a Stronger Community
        p.lead.text-white

          A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.

        p.mt-4
          a.btn.btn-primary(href='') Download
