section.fdb-block.py-5.bg-image-fixed.flex-col(style="background-image: url(images/palisade.jpg); min-height: 60vh;")
  .overlay
  .container.bg-r.py-5.my-5.flex-col
    .row.py-5
      .col-12.text-center
        h1.display-1.display-switch.d1.text-white
          span Partner Up
          br
          span.display-4.display-switch.d4
            small Within the Community
