section.fdb-block.pt-0.pb-5(style="height: 50vh;")
  .container.bg-r.pb-5.mb-5.rounded-5
    .row.pb-5
      .col-12.col-sm-10.col-md-8.col-lg-8.py-5.mt-5.text-left
        h1.display-1.display-switch.d1
          span Bridging the Gap <br/>
          span.display-4.display-switch.d4
            small.text-muted To a Stronger Community
        p.lead.
          A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
          A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
  img.position-absolute.hidden#bridge(src='images/bridge-ill.png', alt="Aerial Lift Bridge Illustration")
