section.fdb-block.py-5
  .container.bg-r.py-5.my-5(style="background-image: url(images/bridge.jpg)")
    .row.py-5
      .col-12.col-sm-10.col-md-8.col-lg-6.text-left
        h1
          span We Bridge the Gap <br/>
          small.text-muted To a Stronger Community
        p.lead.
          A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        //- p.mt-4
          //- a.btn.btn-primary(href='') Download
