section.fdb-block.py-5.bg-image-fixed.flex-col(style="background-image: url(images/splitrock.jpg); min-height: 60vh;")
  .container.bg-r.py-5.my-5.flex-col
    h1.display-1.display-switch.d1
      span Begin Your Next Career
      br
      span.display-4.display-switch.d4
        small And Better Your Community
