<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container-fluid main p-0 m-0" id="main">

      <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true" style="padding: 0;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body px-md-5 mx-md-5">
              <div class="container">
                <div class="row text-center justify-content-center">
                  <div class="col-12 col-md-8 col-lg-7 mb-5">
                    <h1 class="text-center display-4 display-switch d4">
                      <span style="font-size: 4rem"><i class="fa fa-paper-plane mb-3 text-primary"></i></span>
                      <br />
                      <span>Quick&nbsp;Contact</span>
                    </h1>
                  </div>
                </div>
                <div class="row pt-4">
                  <div class="col-12">
                    <form>
                      <div class="row">
                        <div class="col-12 col-md"><input class="form-control" type="text" placeholder="Name" /></div>
                        <div class="col-12 col-md mt-4 mt-md-0"><input class="form-control" type="email" placeholder="Email" /></div>
                        <div class="col-12 col-md mt-4 mt-md-0"><input class="form-control" type="text" placeholder="Phone (optional)" /></div>
                      </div>
                      <div class="row mt-4">
                        <div class="col"><input class="form-control" type="email" placeholder="Subject" /></div>
                      </div>
                      <div class="row mt-4">
                        <div class="col"><textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea></div>
                      </div>
                      <div class="row mt-4">
                        <div class="col text-center"><button class="btn btn-primary" type="submit">Submit</button></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer"><button class="btn btn-grey-500" type="button" data-dismiss="modal">Close</button></div>
          </div>
        </div>
      </div>



      <section class="fdb-block py-5 bg-image-fixed flex-col" style="background-image: url(images/enger.jpg); min-height: 60vh;">
        <div class="container bg-r py-5 my-5 flex-col">
          <h1 class="display-1 display-switch d1 text-white">
            <span>Bridging the Gap</span>
            <br />
            <span class="display-4 display-switch d4"><small>To a Stronger Community</small></span>
          </h1>
        </div>
      </section>



      <section class="fdb-block py-md-5">
        <div class="container py-md-5">
          <div class="row py-5">
            <div class="col-12 col-lg-8 px-5">
              <p class="h1">Quick Introduction</p>
              <p class="lead">
                Employment Links provides exceptional services for community-based employment. Locally owned and operated for over 20 years, our mission is to bridge the gap between job seekers and
                employers.
              </p>
              <hr />
              <p class="lead">
                Employment Links is an advocate for community integration in all areas of life, and provides support and guidance to adults with barriers to community employment and integration. We
                strive to create a positive work experience for all parties involved, and will assist individuals in designing a program that allows them to achieve the greatest level of success.
              </p>
            </div>
            <div class="col-12 col-lg-4 border-left px-5 py-2">
              <p class="h2">Contact</p>
              <p>
                <span class="lead">Admin Office</span>
                <br />
                <i class="fa fa-phone mr-2"></i>
                <a href="tel:+12184644614">(218) 464-4614</a>
                <br />
                <span>
                  <i class="fa fa-map-marker-alt mr-2"></i>
                  <span>306 W Superior Street, Suite 608</span>
                </span>
              </p>
              <hr />
              <p>
                <span class="lead">Job Development Office</span>
                <br />
                <i class="fa fa-phone mr-2"></i>
                <a href="tel:+12187224835">(218) 722-4835</a>
                <br />
                <span></span>
                <i class="fa fa-map-marker-alt mr-2"></i>
                <span>11 E Michigan Street</span>
              </p>
              <br />
              <a class="btn btn-outline-primary" data-toggle="modal" data-target="#contact-modal">Contact us</a>
            </div>
          </div>
        </div>
      </section>



      <section class="fdb-block opportunities py-md-5">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-12 text-left">
              <h1 class="text-center">Always Creating Opportunities</h1>
              <p class="text-center lead">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                Semantics, a large language ocean.
              </p>
            </div>
          </div>
          <div class="row text-left">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 m-sm-auto mr-md-auto ml-md-0 p-3 rounded">
              <p class="text-center text-primary"><i class="far fa-address-book aria-hidden"></i></p>
              <p class="h2 text-center"><strong>Internal Positions</strong></p>
              <p class="text-center">
                Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                <br />
                <a class="btn btn-primary text-white mt-4" href="/careers">See Positions</a>
              </p>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 m-sm-auto pt-5 pt-md-3 p-3 rounded">
              <p class="text-center text-primary"><i class="fa fa-user-circle aria-hidden"></i></p>
              <p class="h2 text-center"><strong>Personalized Services</strong></p>
              <p class="text-center">
                It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost
                unorthographic life.
                <br />
                <a class="btn btn-primary text-white mt-4" href="/services">Explore Our Services</a>
              </p>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 m-sm-auto ml-md-auto mr-md-auto p-3 rounded">
              <p class="text-center text-primary"><i class="far fa-handshake aria-hidden"></i></p>
              <p class="h2 text-center"><strong>Community Partners</strong></p>
              <p class="text-center">
                The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.
                <br />
                <a class="btn btn-primary text-white mt-4" href="/partners">Learn More</a>
              </p>
            </div>
          </div>
        </div>
      </section>



      <section class="fdb-block align-middle py-md-5 my-md-5" style="min-height: 500px;">
        <div class="container align-middle py-md-5" style="height: 100%">
          <div class="row justify-content-center py-md-5 align-middle">
            <div class="col-12 px- text-center">
              <h1>Always Friendly</h1>
              <p class="lead text-primary h3">Join our Community Network to stay up-to-date on our participation in the community</p>
              <p style="font-size:1.2rem;">
                Employment Links is an advocate for community integration in all areas of life, and provides support and guidance to adults with barriers to community employment and integration. We
                strive to create a positive work experience for all parties involved, and will assist individuals in designing a program that allows them to achieve the greatest level of success.
              </p>
            </div>
          </div>
          <div class="row justify-content-center py-md-5 align-middle">
            <div class="col-12 px- text-center"><i class="fab fa-facebook-square" style="font-size:3rem;"></i></div>
          </div>
        </div>
      </section>



      <section class="fdb-block pb-5">
        <div class="container pb-5 mb-5">
          <div class="row text-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-7">
              <h1>Contact Us</h1>
              <p class="lead">One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-12 col-md-6">
              <iframe
                class="map"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:EigzMDYgVyBTdXBlcmlvciBTdCwgRHVsdXRoLCBNTiA1NTgwMiwgVVNBIjESLwoUChIJpyjvkZZSrlIRcUKPrqohEr0QsgIqFAoSCZGdi-B9Ta5SEe9Yk7Bc9YzO&amp;key=AIzaSyBfbXQRBsv55WXJMPVc-nB0NHB7xIKJapw"
                width="100%"
                height="300"
                frameborder="0"
                style="border:0"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-12 col-md-6 pt-5 pt-md-0">
              <form>
                <div class="row">
                  <div class="col"><input class="form-control" type="email" placeholder="Enter email" /></div>
                </div>
                <div class="row mt-4">
                  <div class="col"><input class="form-control" type="email" placeholder="Subject" /></div>
                </div>
                <div class="row mt-4">
                  <div class="col"><textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea></div>
                </div>
                <div class="row mt-4">
                  <div class="col"><button class="btn btn-primary text-white" type="submit">Submit</button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>



      <footer class="fdb-block bg-dark py-5">
        <div class="container">
          <div class="row align-items-top text-center pt-5" id="footer-main-row">
            <div class="col-4 col-sm-6 col-md-2 text-left">
              <nav class="nav flex-column">
                <p class="footer-nav-title">Services</p>
                <a class="text-secondary nav-link active" href="">Services Home</a>
                <a class="text-secondary nav-link" href="">Overview</a>
                <a class="text-secondary nav-link" href="">Person-Centered</a>
                <a class="text-secondary nav-link" href="">Inquire</a>
              </nav>
            </div>
            <div class="col-4 col-sm-6 col-md-2 text-left">
              <nav class="nav flex-column">
                <p class="footer-nav-title">Careers</p>
                <a class="text-secondary nav-link active" href="">Careers Home</a>
                <a class="text-secondary nav-link" href="">Positions</a>
                <a class="text-secondary nav-link" href="">Application</a>
                <a class="text-secondary nav-link" href="">EEO Policy</a>
              </nav>
            </div>
            <div class="col-4 col-sm-6 col-md-2 text-left">
              <nav class="nav flex-column">
                <p class="footer-nav-title">Partners</p>
                <a class="text-secondary nav-link active" href="">Our Partners</a>
                <a class="text-secondary nav-link" href="">Benefits</a>
                <a class="text-secondary nav-link" href="">Inquire</a>
                <a class="text-secondary nav-link" href="">Resources</a>
              </nav>
            </div>
            <div class="col-sm-12 col-md-6 text-center text-md-right" id="footer-contact" style="display: flex; flex-flow: column; justify-items: space-around">
              <a href="mailto:office@employmentlinksduluth.com">
                <span class="h3">
                  <i class="fa fa-envelope mr-1"></i>
                  <span>Email:</span>
                </span>
                <br />
                <span>office@employmentlinksduluth.com</span>
              </a>
              <br />
              <a class="my-3 py-2" href="tel:2184644614">
                <span class="h3">
                  <i class="fa fa-phone mr-1"></i>
                  <span>Call us:</span>
                </span>
                <br />
                <span>(218) 464-4614</span>
              </a>
              <br />
              <p class="lead">
                <a class="mx-2" href=""><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a class="mx-2" href=""><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
          <div class="col mt-5 pt-5 align-middle position-absolute" id="subfooter" style="width: 100vw; bottom: 0; left: 0;">
            <div class="container">
              <div class="row">
                <div class="col-4 text-center align-middle"><img class="mb-1 mx-3" src="images/carf.png" width="150px" alt="CARF Accredidation Logo" style="max-width: 20vw" /></div>
                <div class="col-4 text-center align-middle pt-3"><img class="mb-1 mx-3" src="images/coc.png" width="200px" alt="Duluth Chamber of Commerce Logo" style="max-width: 20vw" /></div>
                <div class="col-4 text-center align-middle"><img class="mb-1 mx-3" src="images/rotary.png" width="150px" alt="Rotary International Logo" style="max-width: 20vw" /></div>
              </div>
              <div class="row mt-3"><div class="col text-center text-secondary">© 2018 Cameron Smith. All Rights Reserved</div></div>
            </div>
          </div>
        </div>
      </footer>



    </div>



    <div class="bsnav-mobile">
      <div class="bsnav-mobile-overlay"></div>
      <div class="navbar border-left" style="box-shadow: 0 0 12px rgba(0, 0, 0, 0.2)"></div>
    </div>
    <script src="scripts/modernizr-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fitodac/bsnav@master/dist/bsnav.min.js"></script>
    <script>
      var onresizeFns = [];
      var onloadFns = [];
      //- Set link attributes based on text
      var navLink = document.querySelectorAll("a.nav-link");
      navLink.forEach(function(a) {
        var text = a.innerText;
        if (a.children) {
          for (var x = 0; x < a.children.length; x++) {
            text = text.replace(a.children[x].innerText, "");
          }
        }
        var link = "/" + text.split(" ")[0];
        a.setAttribute("href", link.toLowerCase());
      });

      var header = document.querySelector("header"),
        headerHeight = header.offsetHeight;
      var allSections = document.querySelectorAll("section"),
        firstSection = allSections[0],
        lastSection = allSections[allSections.length - 1];
      var footer = document.querySelector("footer"),
        footerHeight = footer.offsetHeight;

      // Set active page class
      var page = window.location.pathname.split("/");
      page = page[page.length - 1];
      if (page === "") page = "home";
      page = "/" + page;
      var nav = document.querySelector('a[href="' + page + '"]');
      if (nav) {
        nav.parentElement.classList.add("active");
      }
    </script>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/footer.js"></script>
    <script>
      window.ga = function() {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-127677411-1", "auto");
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async="" defer=""></script>
    <script src="/scripts/home.js"></script>
    <script>
      window.onload = function() {
        onloadFns.forEach(function(fn) {
          fn();
        });
      };

      window.onresize = function() {
        onresizeFns.forEach(function(fn) {
          fn();
        });
      };
    </script>



  </body>
</html>
