p
  //  TRANSIT - HYPERLINK
  //  .javascript:link('dhs16_176039','').
  a(href='javascript:link(\'dhs16_176039\',\'\')', target='_top') CBSM – DHS help desks
  //  TRANSIT - HYPERLINK
  //  .javascript:link('id_000679','').
  a(href='javascript:link(\'id_000679\',\'\')', target='_top') CBSM – Housing resources
    br
  //  TRANSIT - HYPERLINK
  //  .javascript:link('id_000680','').
  a(href='javascript:link(\'id_000680\',\'\')', target='_top') CBSM – Limited English Proficiency (LEP) Program
    br
  //  TRANSIT - HYPERLINK
  //  .javascript:link('id_027497','').
  a(href='javascript:link(\'id_027497\',\'\')', target='_top') CBSM – Telephone Equipment Distribution (TED) Program
    br
  //  TRANSIT - HYPERLINK
  //  .https://mn.db101.org/.
  a(href='https://mn.db101.org/', target='_top') Disability Benefits 101 (DB 101)
    br
  //  TRANSIT - HYPERLINK
  //  .https://mn.gov/dhs/people-we-serve/people-with-disabilities/.
  a(href='https://mn.gov/dhs/people-we-serve/people-with-disabilities/', target='_top') DHS – People with disabilities
    br
  //  TRANSIT - HYPERLINK
  //  .https://mn.gov/dhs/people-we-serve/seniors/.
  a(href='https://mn.gov/dhs/people-we-serve/seniors/', target='_top') DHS – Seniors
    br
  //  TRANSIT - HYPERLINK
  //  .https://mn.gov/dhs/partners-and-providers/program-overviews/.
  a(href='https://mn.gov/dhs/partners-and-providers/program-overviews/', target='_top') DHS – Partners and providers – program overviews
    br
  //  TRANSIT - HYPERLINK
  //  .https://www.minnesotahelp.info/.
  a(href='https://www.minnesotahelp.info/', target='_top') MinnesotaHelp.info
