footer.fixed-bottom {
  z-index: -9;
}

footer {
  background-color: #1f222d;

  a {
    &.text-secondary {
      &:hover {
        color: #fff !important;
      }
    }
    &.nav-link {
      font-size: 1rem;
    }
  }

  p {
    &.footer-nav-title {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  #footer-contact {
    a {
      span.h3{
        color: #fff;
      }

      span {
        color: #ffffff
      }
    }

    p.lead {
      a {
        color: #fff;
      }
    }
  }
}

#subfooter {
  background-color: #13161F;
}


#subfooter-copyright {
  margin-top: 18px;
  background-color: #0E111A;
}