section.fdb-block.opportunities(style="background-image: url(imgs/hero/blue.svg);")
  .container.py-md-5
    .row.justify-content-center
      .col-12.text-left
        h1.text-center.text-white.
          Always Creating Opportunities
        p.text-center.text-light Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    .row.text-left.mt-md-5
      .col-12.col-sm-8.col-md-4.col-lg-4.m-sm-auto.mr-md-auto.ml-md-0.p-3.rounded.text-white#secondary
        p.text-center.text-light
          i.far.fa-address-book.aria-hidden
        h3.text-center
          strong Internal Positions
        p.text-center.text-light Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          <br/>
          a.btn.btn-light.mt-4(href='careers') See Positions
      .col-12.col-sm-8.col-md-4.col-lg-4.m-sm-auto.pt-5.pt-md-3.p-3.rounded.text-white#primary
        p.text-center.text-white
          i.fa.fa-user-circle.aria-hidden.
        h2.text-center
          strong Personalized Services
        p.text-center.text-light It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
          br
          a.btn.btn-light.mt-4(href='services') Explore Our Services
      .col-12.col-sm-8.col-md-4.col-lg-4.m-sm-auto.ml-md-auto.mr-md-0.p-3.rounded.text-white
        p.text-center.text-light
          i.far.fa-handshake.aria-hidden
        h3.text-center
          strong Community Partners
        p.text-center.text-light The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.
          <br/>
          a.btn.btn-light.mt-4(href='partners') Learn More
