section.fdb-block.align-middle.py-md-5.my-md-5(style="min-height: 500px;")
  .container.align-middle.py-md-5(style="height: 100%")
    .row.justify-content-center.py-md-5.align-middle
      .col-12.px-.text-center
        h1 Section Header
        p.lead.
          Far from the countries Vokalia and Consonantia, there live the blind texts.
          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

