section.fdb-block.align-middle.py-5.my-5(style="min-height: 500px;")
  .container.align-middle.py-5(style="height: 100%")
    .row.justify-content-center.py-5.align-middle
      .col-11.col-sm-9.col-md-8.col-lg-7.px-2
        h1 Section Header
        p Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .col-12.col-sm-3.col-md-4.col-lg-5.px-5
        .row.justify-content-end
          .col-12.col-sm-5.m-1.p-5.bg-image(style="background-image:url(imgs/hero/red.svg)")
          .col-12.col-sm-5.m-1.p-5.bg-image(style="background-image:url(imgs/hero/purple.svg)")
        .row.justify-content-end
          .col-12.col-sm-5.m-1.p-5.bg-image(style="background-image:url(imgs/hero/yellow.svg)")
