footer.fdb-block.footer-large.bg-dark.fixed-bottom
  .container
    .row.align-items-top.text-center
      .col-4.col-sm-4.col-md-4.col-lg-2.text-sm-left

        nav.nav.flex-column
          a.nav-link.active(href='') Home
          a.nav-link(href='') Features
          a.nav-link(href='') Pricing
          a.nav-link(href='') Team
          a.nav-link(href='') Contact Us
      .col-4.col-sm-4.col-md-4.col-lg-2.mt-0.mt-sm-0.text-sm-left

        nav.nav.flex-column
          a.nav-link.active(href='') Privacy Policy
          a.nav-link(href='') Terms
          a.nav-link(href='') EEO Policy
          a.nav-link(href='')
      .col-4.col-sm-4.col-md-4.col-lg-2.mt-0.mt-sm-0.text-sm-left

        nav.nav.flex-column
          a.nav-link.active(href='') Privacy Policy
          a.nav-link(href='') Terms
          a.nav-link(href='') EEO Policy
          a.nav-link(href='')
      .col-6.col-md-4.col-lg-2.text-md-left.mt-5.mt-md-0

        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-6.col-md-4.col-lg-2.mt-5.mt-md-0.text-center.logos
        img(src='images/coc.jpg', width='100px', alt="Duluth Chamber of Commerce Logo").mb-1
        img(src='images/carf.png', width='100px', alt="CARF Accredidation Logo").mb-1
        img(src='images/rotary.png', width='100px', alt="Rotary International Logo").mb-1
      .col-12.col-lg-2.ml-auto.text-lg-left.mt-4.mt-lg-0

        p.lead
          a.mx-2(href='')
            i.fab.fa-twitter(aria-hidden='true')
          a.mx-2(href='')
            i.fab.fa-facebook(aria-hidden='true')


    .row.mt-3
      .col.text-center.text-secondary.
        © 2018 Cameron Smith. All Rights Reserved
