footer.fdb-block.bg-dark.py-5
  .container
    .row.align-items-top.text-center.pt-5#footer-main-row
      .col-4.col-sm-6.col-md-2.text-left
        nav.nav.flex-column
          p.footer-nav-title Services
          a.text-secondary.nav-link.active(href='') Services Home
          a.text-secondary.nav-link(href='') Overview
          a.text-secondary.nav-link(href='') Person-Centered
          a.text-secondary.nav-link(href='') Inquire
      .col-4.col-sm-6.col-md-2.text-left
        nav.nav.flex-column
          p.footer-nav-title Careers
          a.text-secondary.nav-link.active(href='') Careers Home
          a.text-secondary.nav-link(href='') Positions
          a.text-secondary.nav-link(href='') Application
          a.text-secondary.nav-link(href='') EEO Policy
      .col-4.col-sm-6.col-md-2.text-left
        nav.nav.flex-column
          p.footer-nav-title Partners
          a.text-secondary.nav-link.active(href='') Our Partners
          a.text-secondary.nav-link(href='') Benefits
          a.text-secondary.nav-link(href='') Inquire
          a.text-secondary.nav-link(href='') Resources
      .col-sm-12.col-md-6.text-center.text-md-right#footer-contact(style="display: flex; flex-flow: column; justify-items: space-around")
          a(href="nailto:office@employmentlinksduluth.com")
            span.h3
              i.fa.fa-envelope.mr-1
              span   Email:
            br
            span office@employmentlinksduluth.com
          br
          a(href="tel:2184644614").my-3.py-2
            span.h3
              i.fa.fa-phone.mr-1
              span   Call us:
            br
            span (218) 464-4614
          br
          p.lead
            a.mx-2(href='')
              i.fab.fa-twitter(aria-hidden='true')
            a.mx-2(href='')
              i.fab.fa-facebook(aria-hidden='true')
    .row.mt-5.pt-5
      .col-4.text-center.align-middle
        img(src='images/carf.png', width='150px', alt="CARF Accredidation Logo" style="max-width: 20vw").mb-1.mx-3
      .col-4.text-center.align-middle.pt-3
        img(src='images/coc.png', width='200px', alt="Duluth Chamber of Commerce Logo" style="max-width: 20vw").mb-1.mx-3
      .col-4.text-center.align-middle
        img(src='images/rotary.png', width='150px', alt="Rotary International Logo" style="max-width: 20vw").mb-1.mx-3
    .row.mt-3
      .col.text-center.text-secondary.
        © 2018 Cameron Smith. All Rights Reserved
