<section class="fdb-block align-middle py-md-5 my-md-5" style="min-height: 500px;">
  <div class="container align-middle py-md-5" style="height: 100%">
    <div class="row justify-content-center py-md-5 align-middle">
      <div class="col-12 text-center">
        <h1>Always Friendly</h1>
        <p class="lead text-primary h3">Join our Community Network to stay up-to-date on our participation in the community</p>
        <p style="font-size:1.2rem;">
          Employment Links is an advocate for community integration in all areas of life, and provides support and guidance to adults with barriers to community employment and integration. We strive
          to create a positive work experience for all parties involved, and will assist individuals in designing a program that allows them to achieve the greatest level of success.
        </p>
      </div>
    </div>
    <div class="row justify-content-center py-md-5 align-middle">
      <div class="col-12 px- text-center"><i class="fab fa-facebook-square" style="font-size:3rem;"></i></div>
    </div>
  </div>
</section>
