html
  head
  body
    | ,
    section.fdb-block
      .container
        .row
          .col-12
            .row.justify-content-center.pb-5
              .col-12.col-lg-8.text-center
                h1 Froala Design Blocks is Open Source and free to use
        .row.justify-content-center
          .col-8
            img.img-fluid(alt='image', src='./imgs/draws/android.svg')