html
  head
  body
    | ,
    section.fdb-block
      .container
        .row.justify-content-center
          .col-12.col-sm-10.col-md-8.col-lg-4.text-center
            p.lead.
              
              Follow us and ask more on:
              
            p.h2
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-facebook
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-twitter
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-instagram
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-google
              a.mx-2(href='https://www.froala.com')
                i.fab.fa-pinterest