extends ./layout.pug

block modalBody
  .container
    .row.text-center.justify-content-center
      .col-12.col-md-8.col-lg-7.mb-5
        h1.text-center.display-4.display-switch.d4
          span(style='font-size: 4rem')
            i.fa.fa-paper-plane.mb-3.text-primary
          br
          span Quick&nbsp;Contact
    .row.pt-4
      .col-12
        include ../forms/contact-quick.pug
