.modal.fade#contact-modal(tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true" style="padding: 0;")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header.text-center
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body.px-md-5.mx-md-5
        include ../forms/contact-quick.pug
      .modal-footer
        button.btn.btn-grey-500(type="button" data-dismiss="modal") Close
